*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	letter-spacing: 0.01em;
}
.core{
	display: block;
	width: 100%;
	margin-top: 3.5em;
	background: #f5cac2;
}
.decore-clr{
	color: #fff;
}
.navv{
	background-color: #ef9273;
	display: flex;
	justify-content: center;
	padding: 1em 0;
	box-shadow: 0px 0px 15px lightgray;
	position: fixed;
	width: 100%;
	top: 0;
	letter-spacing: 0.05em;
	border-radius: 1px;
}
.navv p{
	font-weight:500;
	font-size: 1.5em;
}
.navv p a{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.n1{
	display: none;
	margin-left: 15%;
}
.navv .social-media a{
	display: none;
	padding: 0em 1em;
}
.forme{
	padding: 1.5em 0 0 0;
	background: #fff;
	width: 100%;
	height: 40em;
	box-shadow: 0 0 12px lightgray;
	color: #141850;
	display: grid;
}
.forme p{
	padding: 0;
	font-size: .8em;
	font-weight: bold;
	letter-spacing: .05em;
	margin-left: .5em;
}
.pid{
	display: inline-block;
	line-height: 1.5em;
	font-size: 1em !important;
	color: 	#696969;
}
.pid a i{
	display: inline-block;
	font-size: 1em;
}
.plis{
	margin-left: 1em;
}
/*
.lis1{
	padding: 0em 15%;
	margin-top: -2em;
	text-align: left;
	font-size: 1em;
	height: 2.75em;

}
.lis1 p{
	padding: 0 0 .1em 0;

}
.lis1 input {
	border: thin solid silver;
	box-shadow: 1px 1px 1px silver inset ;
	width: 70%;
	overflow: scroll;
	font-size: 1em;
	padding: .8em;
	border-radius: 30px;
}
.lisemail{
	padding: 0em 15%;
	margin-top: -3em;
	text-align: left;
	font-size: 1em;

}
.lisemail input{
	border: thin solid silver;
	box-shadow: 1px 1px 1px silver inset ;
	width: 100%;
	overflow: scroll;
	font-size: 1em;
	padding: .8em;
	border-radius: 20px;
}
.lisemail p{
	padding: 0 0 .4em 0;

}
.lisdetail{
	padding: 0 15%;
	margin-top: -2.7em;
	text-align: left;
	font-size: 1em;

}
.lisdetail input{
	border: thin solid silver;
	box-shadow: 1px 1px 1px silver inset ;
	width: 100%;
	overflow: scroll;
	font-size: 1em;
	padding: .8em;
	border-radius: 20px;
}
.lisdetail p{
	padding: 0 0 .4em 0;

}*/
input{
	background: rgb(250, 250, 250);
	align-self: center;
	align-items: center;
	justify-self: center;
	border: thin solid silver;
	box-shadow: 1px 1px 1px silver inset ;
	width: 70%;
	overflow: scroll;
	font-size: 1em;
	height: 3em;
	padding: .8em;
	border-radius: 30px;
	margin-top: 0em;
}
input[type="text"]{
	margin-top: -3em;
}
input[type="email"]{
	margin-top: -2.5em;
	margin-bottom: 0;
}
select{
	width: 70% !important;
	height: 3em;
	border: thin solid silver;
	box-shadow: 1px 1px 1px silver inset ;
	font-size: 1em;
	padding: 0;
	margin-top: -.5em;
	border-radius: 30px;
	text-align: center;
	justify-self: center;
	background: rgb(250, 250, 250);
}

textarea{
	border: thin solid silver;
	box-shadow: 1px 1px 1px silver inset ;
	height: 6em;
	width: 70% !important;
	resize: none;
	font-size: 1em;
	padding: .8em;
	margin-top: -2.5em;
	border-radius: 20px;
	justify-self: center;
	background: rgb(250, 250, 250);
}
.lisb{
	padding: 0;
	margin-top: -1.5em;
	text-align: center;
}
.btn{
	width: 50%;
	height: 2.5em;
	margin: 0;
	border-style: none;
	border-radius: 20px;
	background: #ef9273;
	color: #fff;
	transition: .3s;
	text-align: center;
	font-weight: 500;
	font-size: 1em;
	letter-spacing: 0.05em;
}
.btn:hover{
	background-color: transparent;
	color: #ed7966;
	border: .1em solid #ed7966;
	box-shadow: 0 0 2px #ed7966;
}
hr{
	display: flex;
	height: 1px;
    width: 70%;
    background-color: #ed7966;
    border: none;
    box-shadow: 0 0 1px #ed7966;
    margin-top: -1.2em;
}
.right-sec{
	width: 100%;
	padding: 0em 1.5em 1em 1.3em;
	color: /*#141850*/ #ef9273;
	text-align: left;
	position: absolute;
	background: /*#f5cac2*/ #fff ;
}
.rh1 h2{
	display: flex;
	margin-top: -1em;
	padding-bottom: .5em;
	font-size: 1.7em;
	color: #141850;
	text-align: center;
	justify-content: center;
}
.rh2 h2{
	display: none;
}
.rh1 i{
	margin-top: -.1em;
}
.right-sec h3{
	display: none;
}
.right-sec p{
	font-size: 1em;
	line-height: 1.5em;
	color: #141850;
}
.right-sec ol{
	margin-top: .5em;
	margin-left: 1em;
	color: #141850;
}
.right-sec li{
	padding-bottom: .75em;
	padding-left: 0em;
}
.p-soon-p{
	display: none;
}
.thanks p{
	margin-top: 2em;
	font-size: 1.2em;
	font-weight: bold;
	color: #141850;
}
.copy-r p{
	font-size: .9em;
	text-align: center;
	padding-top: 12%;
	color: #141850;
}



@media only screen and (min-width: 768px) {}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 992px) {

*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	letter-spacing: 0.01em;
}
.core{
	display: flex;
	width: 100%;
	margin-top: 5em;
	background: #f5cac2;
}
.decore-clr{
	color: #ed7966;
}
.navv{
	background-color: #fff;
	color: #141850;
	display: flex;
	justify-content: space-between;
	padding: 1.5em 10% 1.5em 10%;
	box-shadow: 0px 0px 10px lightgray;
	position: fixed;
	width: 100%;
	top: 0;
	align-items: center;
	letter-spacing: 0.05em;
}
.navv p{
	font-weight:500;
	font-size: 2em;
}
.navv p a{
	text-decoration: none;
	color: #141850;
}
.n1{
	display: flex;
	margin-left: 15%;
}
.navv .n1 a{
	position: relative;
	text-decoration: none;
	font-weight:600;
	font-size: 1em;
	padding: 0em 2.5em;
	transition: .3s;
}
.navv .n1 a:hover{
	color: #ed7966;
}
.social-media{
	display: flex;
}
.navv .social-media a{
	display: flex;
	padding: 0em 1em;
}
.navv .social-media a i{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	padding: 1em;
	background: #ed7966;
	color: #fff;
	border-radius: 50%;
	font-size: 1em;
	transition: .3s;
}
.navv .social-media a i:hover {
	transform: scale(1.3);
}
.forme{
	padding-top: 0;
	background: #fff;
	margin-left: 5%;
	width: 35%;
	height: 88vh;
	box-shadow: 0 0 10px lightgray;
	color: #141850;
}
.forme p{
	padding: 0em 0em .5em 0em;
	font-size: .75em;
	font-weight: bold;
	letter-spacing: .05em;
}
.pid{
	display: none;
}
.pid a i{
	display: none;
}
.plis{
	margin-left: 1em;
}
/*.lis1{
	padding: 0em 2em;
	margin-top: 0;
	text-align: left;
	font-size: 1em;
}
.lis1 input{
	border: thin solid silver;
	box-shadow: 1px 1px 2px silver inset ;
	width: 90%;
	overflow: scroll;
	font-size: 1em;
	padding: .8em;
}
.lisemail{
	padding: 0em 2em;
	margin-top: -1em;
	text-align: left;
	font-size: 1em;

}
.lisemail input{
	border: thin solid silver;
	box-shadow: 1px 1px 2px silver inset ;
	width: 90%;
	overflow: scroll;
	font-size: 1em;
	padding: .8em;
	border-radius: 20px;
}
.lisemail p{
	padding: 0 0 .4em 0;

}
.lisdetail{
	padding: 0em 2em;
	margin-top: -1em;
	text-align: left;
	font-size: 1em;

}
.lisdetail input{
	border: thin solid silver;
	box-shadow: 1px 1px 1px silver inset ;
	width: 80%;
	overflow: scroll;
	font-size: 1em;
	padding: .8em;
	border-radius: 20px;
}
.lisdetail p{
	padding: 0 0 .4em 0;

}*/
input[type="text"]{
	margin-top: -1em;
}
input[type="email"]{
	margin-top: -1em;
	margin-bottom: .2em;
}
.lisb{
	padding: 0em 2em;
	margin-top: 0em;
	text-align: left;

}
.lisb input{
	border: none;
	box-shadow: 1px 1px 3px silver inset ;
	width: 100%;
	overflow: scroll;
	font-size: 1.2em;
	padding: 1em;
}
select{
    border: thin solid silver;
	box-shadow: 1px 1px 2px silver inset ;
	width: 90%;
	font-size: 1em;
	padding: .8em;
	position: relative;
	margin-top: 0em;
	margin-bottom: 0em;
}
textarea{
	border: thin solid silver;
	box-shadow: 1px 1px 2px silver inset ;
	height: 7em;
	width: 90%;
	resize: none;
	font-size: 1em;
	padding: .8em;
	margin-top: -1em;
}
.btn{
	width: 50%;
	height: 3em;
	position: relative;
    cursor: pointer;
	margin: 1em 25%;
	border: .2em solid #ed7966;
	border-radius:30px;
	background: #ed7966;
	color:  #fff;
	transition: .3s;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: .9em;
	letter-spacing: 0.05em;
}
.btn:hover{
	background-color: #ed7966;
	color: /*#ed7966*/ #fff;
	/*border: .2em solid #ed7966;*/
	border: none;
	box-shadow: 0 0 0px #ed7966;
	transform: scale(1.1);
}
hr{
	display: flex;
    height: .5px;
    width: 50%;
    background-color: #ed7966;
    border: none;
    box-shadow: 0 0 1px #ed7966;
}
.right-sec{
	width: 50%;
	padding: 7em 2em 1em 3em;
	color: #141850;
	text-align: left;
	position: relative;
	background: transparent;
}
.rh1 h2{
	display: none;
}
.rh2 h2{
	display: flex;
	margin-top: -.4em;
	padding-bottom: .5em;
	font-size: 2em;
	color: #141850;
	text-align: center;
}
.right-sec p{
	font-size: 1.1em;
	line-height: 1.5em;
	color: #141850;
}
.right-sec h3{
	display: flex;
	padding: .4em 0 1em 0;
}
.right-sec ol{
	margin-left: 1em;
}
.right-sec li{
	padding-bottom: .75em;
	font-size: 1.1em;
}
.p-soon-p{
	display: inline-block;
}
.thanks p{
	margin-top: 2em;
	font-size: 1.4em;
	font-weight: bold;
	color: #141850;
}
.copy-r p{
	font-size: .9em;
	text-align: center;
	padding-top: 13%;
	padding-left: 20%;
	color: #141850;
}

}